/**
 * Layout for Decision Cruncher
 *
 * @since 2018-03-09
 * @author Ben Leggiero of Blue Husky Studios
 *
 * @see https://BlueHuskyStudios.GitHub.IO/Decision-Cruncher
 */

 @import url('https://fonts.googleapis.com/css?family=Frijole');


.dc {
    --font-family-title: 'Frijole', 'Roboto Slab', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    --font-size-title: 2rem;
    --font-weight-title: normal;
    --text-align-title: center;
}

.dc #inputs .heading {
    font-size: 9pt;
    text-transform: uppercase;
}
